.professional {
  .collapsable {
    width: 100%;
    max-width: 1160px;
    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: none;
      padding: 24px;
      position: relative;
      &:hover {
        background: #f5f5f5;
      }
      h2 {
        color: $primary-color;
        margin: 0;
      }
      i {
        color: $primary-color;
      }
    }
    p {
      margin-top: 0px;
    }
  }
  .expanded {
    background: #f5f5f5;
    margin-bottom: 16px;
    p {
      padding: 0 24px;
    }
  }
}
