.win-rate-graph {
  height: 220px;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 32px 0;
  .bar, .sp-bar {
    background: $primary-color;
    width: 64px;
    margin: 12px;
    transition: height 1s transform 1s;
    position: relative;
    &:hover {
      transform: scale(1.1);
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.75);
      font-weight: 100;
      height: 45px;
      margin: 0;
    }
    .plan-name {
      display: flex;
      justify-content: center;
      width: 60px;
      position: absolute;
      top: -40px;
      background: none;
    }
  }
}
