.billing {
  height: 100%;
  .left {
    align-items: center;
    h3 {
      margin: 0;
    }
    form {
      width: 100%;
      max-width: 480px;
      .beside {
        justify-content: space-between;
        .icon-input {
          width: calc(50% - 16px);
        }
      }
      .icon-input {
        position: relative;
        input {
          padding-left: 48px;
          width: 100%;
          &:focus {
            border-color: $primary-color;
          }
        }
        i {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-100%);
          color: #737373;
        }
      }
    }
    .location-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      .Select {
        height: auto;
        margin-bottom: 16px;
        .Select-placeholder {
          padding-left: 48px;
        }
        &::before {
          left: 16px;
        }
      }
      .Select-control {
        background: #fff;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: auto;
        input {
          border: none;
          padding: 0;
        }
        .Select-input {
          height: auto;
          padding: 9px 0;
          input {
            padding-left: 48px;
            margin: 8px 0;
          }
        }
      }
    }
    .divider {
      width: 100%;
      height: 2px;
      background: #eee;
      margin: 16px 0;
    }
    .creditcard-inputs {
      display: flex;
      flex-direction: column;
    }
    .beside {
      display: flex;
    }
  }
  .right {
    height: 100%;
    button {
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
    .rightError {
      margin-bottom: 0;
    }
    .discount {
      display: flex;
      width: 100%;
      margin-top: 16px;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        width: 100%;
        &:focus {
          border-color: $primary-color;
        }
      }
      .apply-discount {
        padding: 0 16px;
        height: 50px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    .ToC {
      display: flex;
      align-items: center;
      .checker {
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 32px;
        width: 32px;
        background: #fff;
        margin-right: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $primary-color;
        }
        &:hover {
          cursor: pointer;
          border-color: $primary-color;
        }
      }
      .red-outline {
        border-color: $warning-color;
      }
      p {
        flex-grow: 1;
        width: calc(100% - 32px - 8px);
        button {
          background: none;
          padding: 0;
          color: $text-color;
          text-decoration: underline;
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .signup-modal {
    .billing {
      overflow: auto;
      display: block;
      .right {
        width: 100%;
        height: auto;
        align-items: center;
        > div, > button {
          max-width: 480px;
          width: 100%;
        }
        .top {
          display: none;
        }
      }
    }
  }
}
