.billing {
  .left {
    align-items: center;
    h3 {
      margin: 0;
    }
    form {
      width: 100%;
      max-width: 480px;
      .beside {
        justify-content: space-between;
        .icon-input {
          width: calc(50% - 16px);
        }
      }
      .icon-input {
        position: relative;
        input {
          padding-left: 48px;
          width: 100%;
        }
        i {
          position: absolute;
          left: 16px;
          top: 50%;
          transform: translateY(-100%);
          color: #737373;
        }
      }
    }
    .location-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      .Select {
        height: auto;
        margin-bottom: 16px;
      }
      .Select-control {
        background: #fff;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: auto;
        input {
          border: none;
          padding: 0;
        }
        .Select-input {
          height: auto;
          padding: 9px 0;
        }
      }
    }
    .divider {
      width: 100%;
      height: 2px;
      background: #eee;
      margin: 16px 0;
    }
    .creditcard-inputs {
      display: flex;
      flex-direction: column;
    }
    .beside {
      display: flex;
    }
  }
}
