.choose-plan {
  flex-direction: column;
  .beside {
    display: flex;
    height: 100%;
  }
  .bottom-bar {
    button {
      background: none;
      height: auto;
      padding: 0;
    }
  }
  .left {
    .plan-overview {
      height: calc(100% - 72px);
      display: flex;
      align-content: stretch;
      align-items: stretch;
      flex-grow: 1;
      box-sizing: border-box;
      .features {
        .row {
          padding-right: 16px;
          p {
            color: #6A7885;
          }
          .info-circle {
            margin-left: 8px;
            color: #6A7885;
            position: relative;
            &:hover {
              .explanation {
                opacity: 1;
                display: block;
                width: 340px;
                height: auto;
                padding: 24px;
                h3, p {
                  display: block;
                }
              }
            }
          }
          .explanation {
            display: none;
            width: 0;
            height: 0;
            opacity: 0;
            padding: 0;
            // overflow: hidden;
            position: absolute;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            bottom: 28px;
            left: -20px;
            background: #fff;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.14902) 0px 4px 18px;
            transition: opacity 200ms;
            box-sizing: border-box;
            h3 {
              display: none;
              color: $primary-color;
              margin: 0;
              margin-bottom: 8px;
            }
            p {
              display: none;
              margin: 0;
            }
            &::after {
              content: '';
              position: absolute;
              bottom: -8px;
              left: 18px;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 8px solid #fff;
            }
          }
        }
      }
      .column {
        display: flex;
        flex-direction: column;
        border-top: 2px solid #fff;
      }
      .row {
        display: flex;
        flex-grow: 1;
        border-bottom: 1px solid #E9EEF2;
        align-items: center;
      }
      .row:first-child {
        height: 64px;
      }
      .plan-columns-container {
        display: flex;
        flex-grow: 1;
        .plan-column {
          width: 100%;
          text-transform: capitalize;
          box-sizing: border-box;
          &:hover {
            cursor: pointer;
            .row:first-child {
              p {
                color: $primary-color;
              }
            }
          }
          .row {
            justify-content: center;
          }
        }
        .selected {
          border: 2px solid $primary-color;
          height: calc(100% + 1px);
          width: calc(100% - 7px);
          .row {
            p {
              color: #2b2b4d;
            }
          }
          .row:first-child {
            p {
              color: $primary-color;
              font-weight: 600;
            }
          }
          .row:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  .right {
    width: 288px;
    background: #F7FAFC;
    padding: 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    input {
      margin-top: 8px;
    }
    .next {
      margin-bottom: 0;
    }
    button {
      width: 100%;
      border-radius: 4px;
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 885px) {
  .signup-modal {
    .choose-plan {
      flex-direction: column;
      overflow: auto;
      display: block;
      .beside {
        flex-direction: column;
        height: auto;
      }
      .bottom-bar {
        padding: 0 32px;
      }
      .left {
        display: block;
      }
      .right {
        width: 100%;
        display: block;
        .top {
          display: none;
        }
        form {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .signup-modal {
    .choose-plan {
      .plan-overview {
        .features {
          display: none;
        }
        .plan-columns-container {
          flex-direction: column;
          .plan-column {
            display: block;
            .row {
              display: none;
            }
            .row:first-child {
              display: flex;
              align-items: center;
              max-height: 150px;
            }
          }
          .selected {
            .row {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
