.signup-modal {
  display: flex;
  flex-direction: column;
  .bottom-bar {
    width: 100%;
    background: #283544;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    height: 36px;
    p {
      margin: 0;
      color: $light-text-color;
      font-size: 12px;
      a {
        color: #eeeeee;
        text-decoration: underline;
      }
    }
  }
}
