.bounce-down {
  animation: .5s BounceDown;
}
@keyframes BounceDown {
  0% {
    transform: translateY(-160%);
  }
  25%{
    transform: translateY(10%);
  }
  50%{
    transform: translateY(-5%);
  }
  75%{
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.form-bounce-down {
  animation: .5s FormBounceDown;
}
@keyframes FormBounceDown {
  0% {
    top: -100px;
  }
  25%{
    top: 115px;
  }
  50%{
    top: 70px;
  }
  75%{
    top: 95px;
  }
  100% {
    top: 85px;
  }
}

.fade-in {
  animation: 500ms fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-up {
  animation: 0.75s slideUp;
}
@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

.slide-out {
  animation: 500ms slideOut;
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}

.slide-out-left {
  animation: 500ms slideOutLeft;
  transform: translateX(-200%);
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.slide-in-right {
  animation: 500ms slideInRight;
}
@keyframes slideInRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.form-slide-out {
  animation: 500ms FormSlideOut;
}
@keyframes FormSlideOut {
  from {
    top: 85px;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}



.shake {
  animation: 300ms shake;
}
@keyframes shake {
  0% {
    transform: translateX(-5%);
  }
  25%{
    transform: translateX(5%);
  }
  50%{
    transform: translateX(-5%);
  }
  75%{
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.login-shake {
  animation: 300ms loginShake;
}
@keyframes loginShake {
  0% {
    right: 5px;
  }
  25%{
    right: 25px;
  }
  50%{
    right: 5px;
  }
  75%{
    right: 25px;
  }
  100% {
    right: 15px;
  }
}
