@font-face {
  font-family: 'proxima-nova';
  src: url('assets/fonts/proxima-nova/ProximaNova-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('assets/fonts/proxima-nova/ProximaNova-Light.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('assets/fonts/proxima-nova/ProximaNova-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('assets/fonts/proxima-nova/ProximaNova-Semibold.otf');
  font-weight: 600;
}

.light {
  font-weight: 100;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}

.font.dark {
  color: $dark-color;
}
.light-text-color {
  color: $light-text-color;
}

.green {
  color: $action-color;
}
