.form-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.3);
}

.form-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 85px;
  right: 15px;
  background: #fff;
  color: #fff;
  border-radius: 3px;
  width: 300px;
  z-index: 5;
  h3 {
    padding: 0 20px;
  }
  input {
    padding: 20px;
    padding-left: 35px;
    border: none;
    border-top: 1px solid darken(#fff, 10%);
    background: darken(#fff, 5%);
    color: $text-color;
    width: 100%;
    box-sizing: border-box;
  }
  div {
    position: relative;
    width: 100%;
  }
  .form-error {
    background: $warning-color;
    padding-left: 20px;
    box-sizing: border-box;
    i {
      margin-right: 5px;
    }
    animation: 100ms showError;
    @keyframes showError {
      from {
        height: 0;
      }
      to {
        height: 60px;
      }
    }
  }

  .username {
    &::before {
      content: '\f0e0';
      font-family: FontAwesome;
      color: darken(#fff, 50%);
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-55%);
      z-index: 2;
    }
  }
  .password {
    &::before {
      content: '\f023';
      font-family: FontAwesome;
      color: darken(#fff, 55%);
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-58%);
      z-index: 2;
    }
  }
  .verify-password {
    &::before {
      content: '\f13e';
      font-family: FontAwesome;
      color: darken(#fff, 55%);
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-58%);
      z-index: 2;
    }
  }
  .error::before {
    color: $warning-color;
  }
  input[type="submit"] {
    background: $primary-color;
    border: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
    &:hover {
      background: darken($primary-color, 5%);
      cursor: pointer;
    }
  }

}
