header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: $primary-color;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    &:hover {
      background: darken($primary-color, 5%);
    }
  }
  #logo {
    width: auto;
    padding: 0 20px;
  }
  nav {
    height: 100%;
    display: flex;
    align-items: center;

  }
}
