$primary-color: #27A5F9;
$action-color: #12D99E;
$warning-color: #da1354;

$text-color: #49494A;
$light-text-color: #95989E;
$dark-color: #49494A;

$seconday-background: #F9F9F9;
$dark-background: #2C323D;

$nav-btn-background: #F9F9F9;
