$primary-color: #27A5F9;
$action-color: #12D99E;
$warning-color: #da1354;

$text-color: #49494A;
$light-text-color: #95989E;
$dark-color: #49494A;

$seconday-background: #F9F9F9;
$dark-background: #2C323D;

$dashboard-background: #f5f5f5;
$nav-btn-background: #f5f5f5;
$side-bar-background: #30333B;
$side-border-color: #3A3D45;
$side-color: #ABB3B7;
$db-border-color: #E8E8E8;
