@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "fonts";
@import "animations";
@import "home/header";
@import "home/whatisit";
@import "home/fiveReasons/aboveAverageReturns";
@import "home/fiveReasons/reachYourGoals";
@import "home/fiveReasons/informationalAdvantage";
@import "home/fiveReasons/oneDollar";
@import "home/fiveReasons/higherPerformance";
@import "home/ourProducts";
@import "home/theResults";
@import "home/pricingTable";
@import "home/brochures";
@import "home/rewardVSRisk";
@import "home/quote";


body {
  font-family: 'proxima-nova', 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 300;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    cursor: pointer;
  }
}

p {
  color: $text-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  outline: none;
}

button {
  background: $primary-color;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

.filled-btn {
  background: $action-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 175px;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 5px;
  transition: background .3s;
  &:hover {
    background: darken($action-color, 5%);
  }
  &:active {
    background: darken($action-color, 10%);
  }
}

.outline-btn {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 175px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  transition: background .3s, color .3s;
  &:hover {
    background: #fff;
    color: $text-color;
  }
  &:active {
    background: darken(#fff, 5%);
  }
}

.outline-btn.blue {
  border: 2px solid $primary-color;
  color: $primary-color;
  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

.bg-gray {
  background: $seconday-background;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.divider {
  width: 75px;
  background: $primary-color;
  height: 2px;
}

.disclaimer {
  font-weight: 100;
  font-size: 0.8rem;
}
