@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "fonts";
@import "animations";
@import "header";
@import "whatisit";
@import "fiveReasons/aboveAverageReturns";
@import "fiveReasons/reachYourGoals";
@import "fiveReasons/informationalAdvantage";
@import "fiveReasons/oneDollar";


body {
  font-family: 'proxima-nova', 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 300;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    cursor: pointer;
  }
}

p {
  color: $text-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, input {
  outline: none;
}

button {
  background: $primary-color;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
}

.filled-btn {
  background: $action-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 320px;
  width: 100%;
  font-weight: 400;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background .3s;
  &:hover {
    background: darken($action-color, 5%);
  }
  &:active {
    background: darken($action-color, 10%);
  }
}

.outline-btn {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  max-width: 320px;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  transition: background .3s, color .3s;
  &:hover {
    background: #fff;
    color: $text-color;
  }
  &:active {
    background: darken(#fff, 5%);
  }
}

.bg-gray {
  background: $seconday-background;
}
