.how-to-beat-the-market {
  .beat-the-market-list {
    margin: 0;
    width: 100%;
    max-width: 1160px;
    margin: 16px 0;
    li {
      margin: 0;
      background: #fcfcfc;
      padding: 12px 16px;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.16);
      border-bottom: 1px solid #F3F3F3;
      transition: transform 0.5s;
      p {
        margin: 0;
      }
      &:hover {
        transform: scale(1.025);
      }
    }
  }
}
