@import "../../variables.css";

.performance-matters {
  .methods-title {
    margin-bottom: 16px;
  }
  .compare-bars {
    width: 100%;
    max-width: 1160px;
    .bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 50px;
      transition: transform .3s;
      p {
        margin: 0 10px 0 0;
        color: #fff;
        font-size: 1.5rem;
      }
      &:hover {
        transform: scale(1.04);
      }
    }
    .fs-bar {
      width: 90%;
      background: $primary-color;
    }
    .market-bar-container {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .market-bar {
        background: $dark-color;
        width: 3.6%;
      }
      p {
        margin: 0 0 0 10px;
        font-size: 1.5rem;
      }
    }
    .description {
      margin-bottom: 4px;
    }
  }
  .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin-top: 16px;
    margin-bottom: 16px;
    .option {
      background: #fff;
      width: calc(100% / 3 - 16px);
      padding: 0 16px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.025);
      }
    }
  }
}

@media (max-width: 820px) {
  .performance-matters {
    .options {
      .option {
        width: calc(100% / 2 - 16px);
      }
      .option:nth-child(2) {
        display: none;
      }
    }
  }
}
