@import "../../variables.css";

.my-account-page {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .account-info {
    margin-bottom: 32px;
    width: 100%;
    max-width: 400px;
    .db-card {
      h3 {
        margin: 16px 0;
      }
      i {
        margin-right: 10px;
      }
    }
  }
  .change-plan {
    width: 100%;
    max-width: 400px;
    .db-card {
      display: flex;
      flex-direction: column;
      padding: 0;
      button, .plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        height: 72px;
        border-radius: 0;
        border-bottom: 1px solid #eee;
        .price {
          text-align: right;
        }
        &:hover {
          cursor: pointer;
          h3 {
            color: $primary-color;
          }
        }
        h3 {
          padding: 0;
          margin: 0;
        }
      }
      .selected {
        &:hover {
          h3 { color: #fff; }
        }
        h3 {
          color: #fff;
        }
      }
      .current {
        background: #fff;
        .price {
          display: none;
        }
        &::after {
          content: 'Current';
          color: $light-text-color;
          float: right;
        }
        &:hover {
          cursor: auto;
          h3 { color: $light-text-color; }
        }
        h3 {
          color: $light-text-color;
        }
      }
      .fund {
        border-bottom: none;
      }
      .change-plan-btn {
        background: $action-color;
        height: 72px;
        border-bottom: none;
        margin: 0;
        &:hover {
          background: color($action-color lightness(-5%));
        }
      }
    }
  }

  .cancel-btn {
    justify-content: center;
    margin-top: 32px;
    padding: 0;
    background: none;
    text-align: center;
    color: $warning-color;
    // width: 100%;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.change-plan-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-top: 32px 16px;
  }
  p {
    margin: 16px;
    i {
      margin-right: 10px;
    }
  }
  .card-on-file {
    margin: 0;
    margin-bottom: 24px;
  }
  button {
    height: 90px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    font-weight: 600;
    &:hover {
      background: color($primary-color lightness(-10%));
    }
  }
}

.cancel-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 600;
  }
  p {
    margin: 0 16px;
  }
  textarea {
    width: calc(100% - 32px);
    height: 120px;
    margin: 16px;
    border-radius: 4px;
    padding: 16px;
    font-size: 1rem;
  }
  button {
    width: 100%;
    border-radius: 0;
    background: $warning-color;
    &:hover {
      background: color($warning-color lightness(-10%));
    }
  }
}
