@import "../../variables.css";

.first-month-on-us {
  p {
    margin-top: 0;
  }
  h1 {
    margin-top: 24px;
  }
  .cost {
    font-size: 1.4rem;
  }
  .signup-cta {
    padding: 16px 24px;
    background: $action-color;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 16px;
    &:hover {
      background: color($action-color lightness(-5%));
    }
  }
}
