@import "../../variables.css";

.what-you-get-pro {
  a {
    margin-top: 16px;
    max-width: 150px;
    &:hover {
      background: color($primary-color lightness(-10%));
    }
  }
  .beside {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    .screen {
      position: absolute;
      top: 0;
      right: 0;
      height: auto;
      width: calc(50% - 16px);
      transition: transform 0.5s;
      box-shadow: 0 0px 4px rgba(0,0,0, 0.2), 0 4px 8px rgba(0,0,0, 0.24);
      &:hover {
        transform: scale(1.05);
      }
    }
    .left {
      margin-right: calc(50% + 16px);
    }
    .button {
      max-width: 140px;
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      padding: 16px 24px;
    }
  }
}


@media (max-width: 1200px) {
  .what-you-get-pro {
    .beside {
      .screen {
        position: relative;
        align-self: center;
        margin: 16px 0;
        max-width: 640px;
        width: 100%;
        margin-bottom: 32px;
      }
      .left {
        width: 100%;
        margin: 0 auto;
      }
      a.left {
        margin: 0 auto;
      }
    }
  }
}
