.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  .content {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    .about-fs {
      padding: 20px 0;
      line-height: 1.25;
    }
    .employees {
      margin: 0 auto;
      max-width: 1200px;
      .top-section {
        display: flex;
        justify-content: center;
        .left {
          width: calc(100% / 4);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-top: 1px solid $light-text-color;
          border-left: 1px solid $light-text-color;
          border-right: 1px solid $light-text-color;

          height: 350px;
        }
        .right {
          width: calc(100% / 4 * 2);
          padding: 40px;
          border-top: 1px solid $light-text-color;
          border-right: 1px solid $light-text-color;
          height: 350px;
          overflow: auto;
          p {
            line-height: 1.75;
            margin: 0;
          }
        }
      }
      .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          width: calc(100% / 4);
          max-width: 100%;
          background: none;
          border: 1px solid $light-text-color;
          &:hover {
            h3,p {
              color: $primary-color;
            }
          }
        }
        button:first-child {
          border-right: none;
        }
        button:last-child {
          border-left: none;
        }
        .selected {
          background: $primary-color;
          border-color: $primary-color;
          h3,p {
            color: #fff;
          }
          &:hover {
            h3,p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 985px) {
  .about-us {
    .content {
      .employees {
        .top-section {
          .left {
            width: calc(100% / 3);
          }
          .right {
            width: calc(100% / 3 * 2);
          }
        }
        .button-wrapper {
          button {
            width: calc(100% / 3);
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .about-us {
    .content {
      .employees {
        .top-section {
          .left {
            height: 300px;
          }
          .right {
            height: 300px;
            padding: 40px 20px;
            p {
              line-height: 1.25;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .about-us {
    .content {
      .employees {
        display: none;
      }
    }
  }
}
