.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  .content {
    margin: 0 auto;
    width: 80%;
    .about-fs {
      padding: 20px 0;
    }
    .employees {
      margin: 0 auto;
      .top-section {
        display: flex;
        justify-content: center;
        .left {
          width: calc(100% / 4);
          // background: green;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-top: 1px solid $light-text-color;
          border-left: 1px solid $light-text-color;
          border-right: 1px solid $light-text-color;

          height: 350px;
          // img {
          //   display: flex;
          // }
        }
        .right {
          width: calc(100% / 4 * 2);
          padding: 40px;
          border-top: 1px solid $light-text-color;
          border-right: 1px solid $light-text-color;
          p {
            line-height: 1.75;
          }
          // background: red;
        }
      }
      .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          width: calc(100% / 4);
          max-width: 100%;
          background: none;
          border: 1px solid $light-text-color;
          &:hover {
            h3,p {
              color: $primary-color;
            }
          }
        }
        button:first-child {
          border-right: none;
        }
        button:last-child {
          border-left: none;
        }
        .selected {
          background: $primary-color;
          border-color: $primary-color;
          h3,p {
            color: #fff;
          }
          &:hover {
            h3,p {
              color: #fff;
            }
          }
        }
      }
    }


    // .card-wrapper {
    //   display: flex;
    //   justify-content: space-between;
    //   .profile {
    //     width: calc(100% / 4);
    //     height: 450px;
    //     .top {
    //       height: 80%;
    //       width: 100%;
    //       background-size: cover;
    //       border: 1px solid $primary-color;
    //     }
    //     .bottom {
    //       background: $primary-color;
    //       height: 20%;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       h3 {
    //         margin: 0;
    //         color: #fff;
    //         font-weight: 400;
    //         margin-bottom: 10px;
    //       }
    //       h4 {
    //         margin: 0;
    //         font-weight: 100;
    //         color: #fff;
    //       }
    //     }
    //   }
    // }
  }
}
