.brochures {
  // background: linear-gradient(rgba(darken($primary-color, 10%), .2),rgba(darken($primary-color, 10%), .2)),url('assets/images/NY_Skyline.jpg');
  background-image: url('assets/images/NY_Skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 75px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: #fff;
    font-size: 1.75rem;
    padding: 0 20px;
    text-align: center;
    margin: 0;
  }
  .cta {
    display: flex;
    margin-top: 90px;
    width: 100%;
    justify-content: center;
    button {
      margin: 0 40px;

      max-width: 40%;
      width: 300px;
      background: $primary-color;
      i {
        margin-right: 10px;
      }
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 575px) {
  .brochures {
    .cta {
      flex-direction: column;
      align-items: center;
      button:first-child {
        margin-bottom: 20px;
      }
      button {
        max-width: 80%;
      }
    }
  }
}
