.contact-us {
  padding: 50px 0;
  background: darken($primary-color, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0;
  }
  form {
    display: flex;
    width: 80%;
    height: 350px;
    .left {
      width: 50%;
      height: 100%;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input[type=text], input[type=email] {
        padding: 20px;
        border: none;
      }
      label {
        p {
          margin-top: 0;
          color: #fff;
        }
      }
    }
    .right {
      width: 50%;
      margin-left: 50px;
      textarea {
        border: none;
        margin-bottom: 20px;
        height: calc(100% - 83px);
        width: 100%;
        padding: 20px;
      }
      input[type=submit] {
        background: #fff;
        color: $primary-color;
        border: none;
        border-radius: 0;
        height: 60px;
        transition: background .2s, color .2s;
        &:hover {
          cursor: pointer;
          background: $action-color;
          color: #fff;
        }
        &:active {
          background: darken($action-color, 5%);
        }
      }
    }
    input {
      width: 100%;
    }
  }
}
