.cumulative-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  .content {
    padding-top: 40px;
    height: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    input {
      width: 100%;
      margin-bottom: 15px;
    }
    output {
      padding-top: 10px;
      margin-left: 10px;
    }
  }
  .right {
    height: 100%;
    position: relative;
    .chart-indicators {
      position: absolute;
      top: 25px;
      left: 100px;
      .chart-indicator {
        background: none;
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px;
        &::before {
          content: '';
          width: 15px;
          height: 15px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: $primary-color;
          position: absolute;
          z-index: 2;
        }
      }
      .black::before {
        background: $text-color;
      }
    }

    #bar-chart {
      height: 100%;
      max-height: 420px;
    }
  }
  .disclaimer {
    text-align: center;
    margin-top: 40px;
    width: 80%;
  }
}

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 50%;
    height: 10px;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $primary-color), color-stop(100%, $primary-color));
    background-image: -webkit-linear-gradient($primary-color, $primary-color);
    background-image: -moz-linear-gradient($primary-color, $primary-color);
    background-image: -o-linear-gradient($primary-color, $primary-color);
    background-image: linear-gradient($primary-color, $primary-color);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100%;
    border: 2px solid $primary-color;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 100%;
  border: 2px solid $primary-color;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

.amcharts-graph-column-front {
  -webkit-transition: all .2s .2s ease-out;
  transition: all .2s .2s ease-out;
}
.amcharts-graph-column-front:hover {
  fill: darken($primary-color, 10%);
  stroke: darken($primary-color, 10%);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

@media (max-width: 900px) {
  .cumulative-interest {
    .left {
      width: 40%;
      margin-right: 0;
    }
    .right {
      width: 60%;
    }
  }
}

@media (max-width: 900px) {
  .cumulative-interest {
    height: 750px;
    .content {
      flex-direction: column;
      .left {
        width: 100%;
        margin: 40px 0;
        .slider {
          margin-bottom: 20px;
        }
      }
      .right {
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
      }
    }
    .disclaimer {
      margin-top: 150px;
    }
  }
}
