footer {
  .disclaimer-container {
    background: lighten($dark-background, 5%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .disclaimer {
      width: 80%;
      color: #fff;
      margin: 0;
    }
    .agreement {
      text-align: center;
      margin-top: 10px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    padding: 20px 0;
    background: $dark-background;
    text-align: center;
    p {
      color: $light-text-color;
    }
  }
}
