.forgot-pw-modal {
  div {
    text-align: center;
    i {
      font-size: 2rem;
    }
    .filled-btn {
      max-width: 100%;
      width: 100%;
      height: 90px;
    }
  }
  h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    padding: 20px;
  }
  input[type="email"] {
    width: 100%;
    height: 90px;
    padding: 20px;
    border: none;
    border-top: 1px solid #e6e6e6;
    background: #f2f2f2;
  }
  input[type="submit"] {
    height: 90px;
  }
}
