header {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $primary-color;
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 520px;
  .content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 60%;
    text-align: center;
    max-width: 835px;
    .bounce-down {
      min-height: 164px;
    }
    h1,h2 {
      color: #fff;
    }
    #subtitle {
      color: #fff;
      // font-size: 1.5rem;
      font-size: 2em;
      line-height: 1.8rem;
    }
    .CTA {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: center;
      button,a {
        margin: 0 10px;
        max-width: 250px;
        font-size: 1.25rem;
      }
    }
    .hero-disclaimer {
      margin-top: 20px;
      line-height: normal;
    }
  }
}
.iOSException {
  &::before {
    background-attachment: scroll !important;
  }
}

#hero-chart {
  h1,h2,h3,h4, p {
    color: #fff;
  }
}

.chart-container {
  width: 100vw;
  margin-top: -25px;
  height: auto;
}

@media (max-width: 1190px) {
  nav {
    .faq-link.nav-link {
      display: none;
    }
  }
}

@media (max-width: 1105px) {
  #hero {
    .content {
      margin-top: 50px;
    }
  }
  .chart-container {
    margin-top: 24px;
  }
}

@media (max-width: 1050px) {
  nav {
    .contact-us-link.nav-link {
      display: none;
    }
  }
}


@media (max-width: 825px) {
  nav {
    .products-link.nav-link {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  nav {
    .pricing-link.nav-link {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  header {
    nav {
    .left {
      .logo-container {
          width: 34px;
          #logo {
            background-image: url('/assets/images/logo.svg');
            background-size: contain;
          }
          #logo-white {
            background-image: url('/assets/images/logo-white.svg');
            background-size: contain;
          }
        }
      }
    }
  }
}
@media (max-width: 1375px) {
  #hero {
    .content {
      .bounce-down {
        min-height: 175px;
      }
    }
  }
}

@media (max-width: 1075px) {
  #hero {
    .content {
      width: 80%;
    }
  }
}

@media (max-width: 680px) {
  #hero {
    .content {
      .bounce-down {
        min-height: 227px;
      }
    }
  }
}

@media (max-width: 575px) {
  #hero {
    .content {
      margin-top: 25px;
      .bounce-down {
        min-height: 252px;
        #subtitle {
          display: none;
        }
      }
      .CTA {
        flex-direction: column;
        button {
          margin-bottom: 20px;
        }
      }
    }
  }
}
