header {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d3a65+0,18aed6+100 */
  background: #2d3a65; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #2d3a65 0%, #18aed6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #2d3a65 0%,#18aed6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #2d3a65 0%,#18aed6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3a65', endColorstr='#18aed6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  nav {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
    .content {
      width: 80vw;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .left {
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      #logo {
        width: 274px;
        height: 34px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        background-image: url('assets/images/logo_horizontal.svg');
      }
    }

    .right {
      display: flex;
      height: 100%;
      margin-left: 20px;
      #nav-links {
        display: flex;
        height: 100%;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 100px;
        padding: 0 20px;
        color: #fff;
        transition: color .3s;
        i {
          margin-right: 5px;
        }
        &:hover {
          color: $primary-color !important;
        }
      }
    }
  }
}

#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 1000px;
  .content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 60%;
    text-align: center;

    h1,h2 {
      color: #fff;
    }
    .CTA {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      button,a {
        margin: 0 10px;
        max-width: 250px;
        font-size: 1.25rem;
      }
    }
  }
  &::before {
    content: "";
    background: url('assets/images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.75;
    top: -75px;
    left: 0;
    width: 100%;
    height: calc(100vh + 25px);
    position: absolute;
    z-index: 1;
  }
}

#hero-chart {
  background: url('assets/images/hero-chart.svg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  z-index: 2;
  h1,h2,h3,h4, p {
    color: #fff;
  }
}

@media (max-width: 1105px) {
  #hero {
    .content {
      margin-top: 50px;
    }
  }
}

@media (max-width: 1050px) {
  nav {
    .contact-us-link.nav-link {
      display: none;
    }
  }
}


@media (max-width: 825px) {
  nav {
    .products-link.nav-link {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  nav {
    .pricing-link.nav-link {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  header {
    nav {
    .left {
      #logo {
        background-image: url('assets/images/logo.svg');
        background-repeat: no-repeat;
        width: 34px;
        }
      }
    }
  }
}


@media (max-width: 575px) {
  #hero {
    .content {
      margin-top: 25px;
      .bounce-down {
        h2 {
          display: none;
        }
      }
      .CTA {
        flex-direction: column;
        button {
          margin-bottom: 20px;
        }
      }
    }
  }
}
