header {
  height: 100%;
}

.hero {
  width: 100%;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 60%;
    text-align: center;
    max-width: 835px;
    // font-family: 'Lato';
    h1,h2 {
      color: #fff;
      // font-size: 40px;
      font-size: 2em;
    }
    #subtitle {
      color: #fff;
      // font-size: 40px;
      font-size: 2em;
    }
    .typed-cursor{
        opacity: 1;
        color: #fff;
        // font-size: 40px;
        font-size: 2em;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    .learn-more {
      background: #fff;
      border-radius: 4px;
      font-weight: normal;
      margin-top: 64px;
      color: $primary-color;
      padding: 16px 32px;
    }
    .hero-disclaimer {
      margin-top: 20px;
      line-height: normal;
    }
  }
  .bottom {
    height: 75px;
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $primary-color;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .background-numbers-container {
    position: absolute;
    top: 75px;
    left: 0;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: calc(100% - 75px - 75px);
    width: 100%;
    overflow: hidden;
    .price {
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      transform: translate3d(-14.2451px, 2.39659px, 0px);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: transform 0.2s;
      .value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 100;
        p {
          color: #fff;
        }
        i {
          color: #fff;
          margin-left: 4px;
          font-size: 1.25rem;
        }
      }
    }
    .x-small {
      font-size: 18px;
      line-height: 18px;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }
    .small {
      font-size: 24px;
      line-height: 24px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .medium {
      font-size: 26px;
      line-height: 26px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .large {
      font-size: 32px;
      line-height: 32px;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
    }
    .right {
      text-align: right;
    }
  }

}
