.more-information {
  // background: linear-gradient(rgba(darken($primary-color, 10%), .2),rgba(darken($primary-color, 10%), .2)),url('assets/images/NY_Skyline.jpg');
  background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url('assets/images/NY_Skyline.jpg');
  // background-image: url('assets/images/NY_Skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;
  .content {
    display: flex;
    .left {
      margin-right: 32px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: #fff;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        margin-bottom: 32px;
      }
      .brochure-link {
        color: #fff;
        background: $primary-color;
        border-radius: 4px;
        padding: 16px 24px;
        max-width: 250px;
        i {
          margin-right: 8px;
        }
        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
    .right {
      margin-left: 32px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

.brochure-btn {
  padding: 0;
  width: 200px;
  height: 250px;
  background: url('assets/images/business_brochure_screen.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 770px) {
  .more-information {
    .content {
      flex-direction: column;
      align-items: center;
      .left {
        margin: 0;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          text-align: center;
        }
      }
      .right {
        justify-content: center;
        margin: 0;
      }
    }
  }
}

@media (max-width: 770px) {
  .more-information {
    .content {
      .left {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
