.our-products {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    h1 {
      margin: 0;
    }
  }
  .icon-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .plan-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform .5s;
      &:hover {
        transform: scale(1.1);
      }
      img {
        height: 100px;
      }
      p {
        margin: 10px 0 0 0;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
