.pricing-table {
  padding: 40px 0;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .plans {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-top: 40px;
    }
    .disclaimer {
      margin-top: 25px;
      width: 80%;
      text-align: center;
    }
  }
}

.plan {
  background: $dark-background;
  width: calc(100% / 4 - 12.5px);
  // height: 100%;
  margin: 0 7.5px;
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.05) translateY(-2.5%);
  }
  .top {
    background: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h3 {
      color: #fff;
      font-weight: 400;
      margin: 10px 0 15px 0;
    }
    .price {
      color: #fff;
      margin: 0;
      font-weight: 100;
    }
    .billed {
      color: #fff;
      margin-top: 5px;
      font-weight: 100;
    }
  }
  .main-stats {
    display: inline-flex;
    flex-direction: column;
    padding-left: 20px;
    p {
      color: #fff;
      font-weight: 100;
      font-size: 1rem;
      margin: 15px 0;
    }
  }
  .more-info {
    background: rgba(#fff, 0.15);
    max-width: 100%;
    margin: 0;
    border-radius: 0;
    &:hover {
      background: $primary-color;
    }
  }
  .sign-up {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
.plan:first-child{
  margin-left: 0;
}
.plan:last-child{
  margin-right: 0;
}


.product-modal {
  display: flex;
  .left {
    width: 50%;
    padding: 20px;
  }
  .right {
    width: 50%;
    background: #2C323D;
    padding: 20px;
    p {
      color: #fff;
      font-weight: 100;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .plan {
    width: calc(100% / 2 - 20px);
    margin-bottom: 40px;
  }
  .plan:nth-child(2) {
    margin-right: 0;
  }
  .plan:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 985px) {
  .modal-container {
    .modal {
      width: 80%;
    }
  }
}

@media (max-width: 760px) {
  .plan {
    width: calc(100%);
    margin: 0 0 40px 0;
  }
  .product-modal {
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;
    .left,.right {
      width: 100%;
      div {
        p:last-child {
          padding-bottom: 20px;
        }
      }

    }
  }

}
