.reward-vs-risk {
  padding-bottom: 40px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 400px;
    padding-bottom: 40px;
    .title {
      margin-top: 0;
    }
    .wrapper {
      margin-top: 25px;
      display: flex;
      height: 100%;
      width: 100%;
      .left {
        width: 50%;
        height: 100%;
        position: relative;
        .chart-container {
          position: relative;
          // height: 100%;
          min-height: 275px;
          max-width: 375px;
          img {
            height: auto;
            max-width: 375px;
            top: 20px;
          }
          .chart-indicators {
            position: absolute;
            top: 16px;
            right: 0;
            .chart-indicator {
              background: none;
              padding-left: 25px;
              position: relative;
              margin-bottom: 10px;
              &::before {
                content: '';
                width: 15px;
                height: 15px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: $primary-color;
                position: absolute;
                z-index: 2;
              }
            }
            .business::before {
              background: #4C7899;
            }
            .fund::before {
              background: $text-color;
            }
            .premium::before {
              background: #6FCEE1;
            }
            .basic::before {
              background: #AFD1E3;
            }
            .sp500::before {
              background: #989898;
            }
          }
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 875px) {
  .reward-vs-risk {
    .content {
      min-height: 625px;
      .wrapper {
        flex-direction: column;
        .left {
          order: 1;
          width: 100%;
          text-align: center;
          img {
            margin: 0 auto;
            transform: translateX(-50%);
            max-width: 100%;
          }
        }
        .right {
          width: 100%;
          margin: 0;
          display: block;
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .reward-vs-risk {
    .content {
      min-height: 700px;
    }
  }
}
