.reward-vs-risk {
  padding-bottom: 40px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
    padding-bottom: 40px;
    .title {
      margin-top: 0;
    }
    .wrapper {
      margin-top: 25px;
      display: flex;
      height: 100%;
      width: 100%;
      .left {
        width: 50%;
        height: 100%;
        position: relative;
        img {
          height: 100%;
          top: 20px;
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 875px) {
  .reward-vs-risk {
    .content {
      height: 550px;
      .wrapper {
        flex-direction: column;
        .left {
          order: 1;
          width: 100%;
          text-align: center;
          img {
            margin: 0 auto;
            transform: translateX(-50%);
            max-width: 100%;
          }
        }
        .right {
          width: 100%;
          margin: 0;
          display: block;
          p {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .reward-vs-risk {
    .content {
      height: 700px;
    }
  }
}
