.the-results {
  background: $primary-color;
  .content {
    padding: 40px 0;
    text-align: center;
    // width: 100%;
    .title {
      color: #fff;
    }
    .divider {
      background: #fff;
      margin: 0 auto;
    }
    .subtitle {
      color: #fff;
    }
  }
}

#result-chart {
  height: 500px;
  .chart-balloon {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    .plan-name {
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 5px;
      color: $primary-color;
    }
    .balloon-value {
      font-size: 1.25rem;
    }
  }
}
