.the-results {
  background: $primary-color;
  .content {
    padding: 40px 0;
    text-align: center;
    // width: 100%;
    .title {
      color: #fff;
      margin-top: 0;
    }
    .divider {
      background: #fff;
      margin: 0 auto;
    }
    .subtitle {
      color: #fff;
    }
    .second.title {
      margin-top: 40px;
    }
    p {
      color: #fff;
      text-align: left;
    }
  }
}

#result-chart {
  height: 70vh;
  .chart-balloon {
    font-family: 'proxima-nova', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 3px 5px;

    .plan-name {
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 5px;
      color: $primary-color;
    }
    .market-name {
      color: $text-color;
    }
    .balloon-value {
      font-size: 1.25rem;
    }
  }
}

.amcharts-graph-basic, .amcharts-graph-premium, .amcharts-graph-business, .amcharts-graph-market {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 500%;
  // stroke-dasharray: 0 0;    /* fixes IE prob */
  // stroke-dashoffset: 0 0;   /* fixes IE prob */
  -webkit-animation: am-draw 5s;
  animation: am-draw 5s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
