@import "../../../variables.css";

.new-article {
  .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    background-size: cover;
    background-position: center center;
    &:hover {
      cursor: pointer;
    }
    i {
      font-size: 4rem;
    }
  }
  .input-container {
    display: flex;
    .members-toggle {
      border-radius: 0;
      min-width: 200px;
    }
    .public {
      background: $action-color;
    }
  }
  .title {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    padding: 8px 16px 8px 24px;
    border: none;
  }
  .md-editor-header {
    height: 51px;
    .md-editor-menu {
      div {
        height: 30px !important;
      }
    }
  }
  textarea {
    height: 100% !important;
    min-height: 800px;
    padding-left: 24px !important;
    font-size: 1.2rem;
  }
}
