@import "../../../variables.css";

.notification {
  background: $action-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  p {
    font-weight: 100;
    margin: 0;
    color: #fff;
    padding-left: 20px;
  }
  .dismiss {
    background: none;
  }
}
.notification.error {
  background: $warning-color;
}
.notification.warning {
  background: #FF9E38;
}
