.forgot-pw-modal {
  position: relative;
  h2,p {
    padding: 0 24px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  input[type="email"] {
    font-size: 0.9rem;
    padding: 16px 24px;
    max-width: 100%;
    border: none;
    flex-flow: 1;
    margin: 0 24px 16px 24px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    font-size: 0.9rem;
  }
  i {
    display: none;
  }
  .close-modal {
    width: 100%;
    border-radius: 0;
  }
}
