@import "../../variables.css";

.portfolio {
  flex: 1;
  .price-origin {
    margin: 0 20px;
  }
}

.portfolio-yields {
  background: #fff;
  margin: 20px auto;
  width: calc(100% - 40px);
  display: flex;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  .left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    h2 {
      padding-left: 20px;
      margin: 20px 0 10px 0;
    }
    #portfolio-chart {
      height: 350px;
    }
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: $primary-color;
      }
    }
  }
  .right {
    width: 200px;
    border-left: 2px solid $db-border-color;
    padding-left: 8px;
    margin-left: -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    .stats {
      h3 {
        margin-bottom: 10px;
        font-weight: 400;
      }
      .wrapper {
        display: flex;
        align-items: center;
        .number {
          font-weight: 600;
        }
        p {
          margin: 0;
          font-weight: 100;
        }
        i {
          color: $action-color;
          margin-right: 5px;
        }
        .Spinner {
          font-size: 0.75rem;
        }
      }
      .market-change {
        color: $text-color;
        i {
          color: $text-color;
        }
      }
    }
    .fs.stats {
      .wrapper {
        i {
          color: $primary-color;
        }
      }
    }
    .browserChart {
      height: 180px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: auto;
      margin-bottom: 16px;
      margin-left: 8px;
      position: relative;
      > div {
        position: relative;
        &::after {
          content: 'Allocation';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 500;
          font-size: 1rem;
          text-align: center;
        }
      }

      h3 {
        order: 1;
        display: none;
      }
      > div {
        margin-left: -11px;
        width: 100%;
        order: 2;
      }
    }
  }

}


.holdings {
  background: #fff;
  width: calc(100% - 40px);
  margin: 20px auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $side-color;
  }
}

.no-permissions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-table {
  border-collapse: collapse;
  width: 100%;
  .labels {
    tr {
      width: 100%;
      border-bottom: 1px solid $db-border-color;
      th {
        margin: 0;
        padding: 20px 0;
        padding-right: 25px;
        padding-left: 20px;
        text-align: left;
        font-weight: 100;
        .info-circle {
          display: inline-block;
        }
      }
    }
  }
  tbody {
    .stock-name-tag {
      margin-bottom: 8px;
    }
    &:hover {
      cursor: pointer;
      .stock-name-tag {
        color: $primary-color;
      }
    }
    tr {
      height: 75px;
      border-bottom: 1px solid $db-border-color;
      td {
        font-weight: 400;
        padding-left: 20px;
      }
      .stock-name {
        display: flex;
        align-items: center;

        i {
          color: $primary-color;
          font-size: 2rem;
          margin-right: 20px;
        }
        p {
          font-weight: 400;
        }
        .ticker {
          font-weight: 100;
          padding-left: 20px;
          position: relative;
          display: flex;
          align-items: center;
          margin-top: 0;
        }
        .ticker::before {
          content: "";
          height: 10px;
          width: 10px;
          position: absolute;
          left: 0;
          border: 2px solid $primary-color;
          border-radius: 50%;
        }
      }
      .positive {
        color: $action-color;
        &:before {
          content: "+";
        }
      }
      .negative {
        color: $warning-color;
      }
      .realtime-positive {
        color: $text-color;
        animation-name: RTPOSITIVE;
        animation-duration: 25s;
        &::after {
          position: relative;
          content: '\f106';
          font-family: "FontAwesome";
          color: $action-color;
          font-size: 1.25rem;
          margin-left: 8px;
          opacity: 0;
          animation-name: OPACITY;
          animation-duration: 25s;
        }
      }
      .realtime-positive-alt {
        color: $text-color;
        animation-name: RTPOSITIVEALT;
        animation-duration: 25s;
        &::after {
          position: relative;
          content: '\f106';
          font-family: "FontAwesome";
          color: $action-color;
          font-size: 1.25rem;
          margin-left: 8px;
          opacity: 0;
          animation-name: OPACITYALT;
          animation-duration: 25s;
        }
      }
      .realtime-negative {
        color: $text-color;
        animation-name: RTNEGATIVE;
        animation-duration: 25s;
        &::after {
          position: relative;
          content: '\f107';
          font-family: "FontAwesome";
          color: $warning-color;
          font-size: 1.25rem;
          margin-left: 8px;
          opacity: 0;
          animation-name: OPACITY;
          animation-duration: 25s;
        }
      }
      .realtime-negative-alt {
        color: $text-color;
        animation-name: RTNEGATIVEALT;
        animation-duration: 25s;
        &::after {
          position: relative;
          content: '\f107';
          font-family: "FontAwesome";
          color: $warning-color;
          font-size: 1.25rem;
          margin-left: 8px;
          opacity: 0;
          animation-name: OPACITYALT;
          animation-duration: 25s;
        }
      }
    }
  }
  .cash {
    tr {
      height: 75px;
      .stock-name {
        display: flex;
        align-items: center;
        height: 75px;
        i {
          font-size: 2rem;
          color: $action-color;
          margin-right: 30px;
        }
      }
    }
    padding-bottom: 20px;
  }
}

@keyframes RTPOSITIVE {
  from { color: $action-color; }
  to { color: $text-color; }
}

@keyframes RTNEGATIVE {
  from {color: $warning-color; }
  to {color: $text-color; }
}
@keyframes RTPOSITIVEALT {
  from { color: $action-color; }
  to { color: $text-color; }
}

@keyframes RTNEGATIVEALT {
  from {color: $warning-color; }
  to {color: $text-color; }
}

@keyframes OPACITY {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes OPACITYALT {
  from { opacity: 1; }
  to { opacity: 0; }
}

#portfolio-item-chart {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    color: $primary-color;
  }
}

@media (max-width: 1000px) {
  .portfolio-yields {
    .left {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
}

@media (max-width: 1075px) {
  .portfolio-table {
    .labels {
      tr {
        th:last-child {
          display: none;
        }
      }
    }
    tbody {
      tr {
        .portfolio-td:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .portfolio-table {
    .labels {
      tr {
        th:last-child, th:nth-child(5) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        .portfolio-td:last-child, .portfolio-td:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 810px) {
  .portfolio-table {
    .labels {
      tr {
        th {
          .info-circle {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .portfolio-table {
    .labels {
      tr {
        th:last-child, th:nth-child(4), th:nth-child(5) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        .portfolio-td:last-child, .portfolio-td:nth-child(4), .portfolio-td:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 525px) {
  .portfolio-table {
    .labels {
      tr {
        th:last-child, th:nth-child(2), th:nth-child(4), th:nth-child(5) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        .portfolio-td:last-child, .portfolio-td:nth-child(2), .portfolio-td:nth-child(4), .portfolio-td:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .portfolio-table {
    .labels {
      tr {
        th:last-child, th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        .portfolio-td:last-child, .portfolio-td:nth-child(2), .portfolio-td:nth-child(3), .portfolio-td:nth-child(4), .portfolio-td:nth-child(5) {
          display: none;
        }
      }
    }
  }
}
