@import "../../variables.css";
.articles {
  position: relative;
  display: flex;
  font-family: serif;
  .flask-logo {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 48px;
    width: auto;
    box-shadow: 0 4px 4px rgba(0,0,0, 0.2);
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    max-width: 100%;
  }
}

.article {
  transition: margin-right 0.5s;
  .header-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .post {
    padding: 24px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p, h1 {
      width: 100%;
      max-width: 800px;
      margin: 0;
    }
    .title {
      margin-bottom: 16px;
      font-weight: 600;
    }
    .info {
      font-size: 1rem;
      color: $primary-color;
      margin-bottom: 24px;
    }
    .body {
      font-size: 1.2rem;
      width: 100%;
      max-width: 800px;
      p {
        margin-bottom: 24px;
      }
      h2 {
        font-weight: bold;
      }
      h3 {
        font-weight: 600;
      }
      img {
        height: 400px;
        width: auto;
        // margin: 0 auto;
      }
    }
  }
}
