@import "../../variables.css";
.article-sidebar {
  width: 100%;
  max-width: 320px;
  padding: 24px 24px 24px 48px;
  background: #232730;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.5s;
  .toggle {
    position: absolute;
    top: 16px;
    left: -56px;
    border-radius: 4px;
    padding: 0;
    height: 32px;
    width: 32px;
    background: #232730;
    border: 2px solid #333c42;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
    }
  }
  .line-through {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    width: 2px;
    background: #333c42;
  }
  .latest {
    margin-bottom: 32px;
    font-weight: bold;
    color: $primary-color;
    font-family: 'proxima-nova';
  }
  h1,h2,h3,p {
    color: #fff;
  }
  .article-list {
    .article-item {
      position: relative;
      h1,h2,h3,h4,h5,h6 {
        display: none;
      }
      p {
        color: #505C65;
        margin: 0;
        font-size: 0.8rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .article-item-title {
        display: block;
        margin-bottom: 8px;
        font-size: 1rem;
      }
      &:hover {
        cursor: pointer;
        &::before { background: $primary-color; }
        p {
          color: #748088;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: -29px;
        top: 4px;
        width: 8px;
        height: 8px;
        background: #333c42;
        border-radius: 50%;
        border: 2px solid #232730;
      }
    }
    .selected {
      &::before {
        background: $primary-color;
      }
    }
  }
  .homepage-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    bottom: 24px;
    background: #fff;
    color: $primary-color;
    padding: 16px 24px;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    font-family: 'proxima-nova';
    &:hover {
      background: $primary-color;
      color: #fff;
    }
  }
}

.sidebar-closed {
  transform: translateX(320px);
}

.dashboard {
  .article-sidebar {
    top: 64px;
    bottom: 0;
    max-width: 335px;
    .homepage-link {
      display: none;
    }
  }
  .sidebar-closed {

  }
}
