.hero-slider {
  position: relative;
  .content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 100%;
    // text-align: center;
    max-width: 1160px;
    h1,h2 {
      color: #fff;
      font-size: 2.5em;
      text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }
    .bold {
      font-weight: bold;
    }
    #subtitle {
      color: #fff;
      font-size: 2em;
      text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    }
    .typed-cursor {
        opacity: 1;
        color: #fff;
        font-size: 2em;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    .learn-more {
      background: #fff;
      border-radius: 4px;
      font-weight: normal;
      margin-top: 64px;
      color: $primary-color;
      padding: 16px 32px;
    }
    .hero-disclaimer {
      margin-top: 20px;
      line-height: normal;
    }
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: -moz-linear-gradient(top,  rgba(0,4,56,0.3) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,4,56,0.3) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,4,56,0.3) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000438', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  }
  .slider-image {
    height: calc(100vh - 120px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slick-dots {
    position: absolute;
    bottom: 16px;
    z-index: 5;
    li {
      button {
        &::before {
          color: transparent;
          border: 1px solid #fff;
          border-radius: 50%;
          opacity: 1;
          width: 12px;
          height: 12px;
          box-shadow: 0 2px 2px rgba(0,0,0,0.3);
        }
      }
    }
    .slick-active {
      button {
        &::before {
          background: #fff;
        }
      }
    }
  }
}
