.split-section {
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  .content {
    width: 80%;
    height: 100%;
    margin:  0 auto;
    display: flex;
    position: relative;
    img {
      position: absolute;
      bottom: -40px;
    }
  }
  .left {
    width: 50%;
    margin-right: 50px;
    position: relative;
    p {
      max-width: 400px;
    }
  }
  .right {
    width: 50%;
    margin-left: 50px;
    position: relative;
    p {
      max-width: 400px;
    }
  }
  .title {
    font-size: 1.75rem;
  }
}


.above-average-returns {
  .right {
    .container {
      position: relative;
      height: 100%;
      transform: translateY(-25%);
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      color: $primary-color;
      transition: transform .3s;
      font-weight: 100;
    }
    .p1 {
      font-size: 3rem;
      opacity: 1;
      &:hover {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
    .p2 {
      font-size: 2.8rem;
      opacity: 0.9;
      transform: translate(-125%, -150%);
      &:hover {
        transform: translate(-125%, -150%) scale(1.2);
      }
      animation: .5s p2;
      @keyframes p2 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(-125%, -150%);
        }
      }
    }
    .p3 {
      font-size: 2.6rem;
      opacity: 0.8;
      transform: translate(25%, 90%);
      &:hover {
        transform: translate(25%, 90%) scale(1.2);
      }
      animation: .5s p3;
      @keyframes p3 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(25%, 90%);
        }
      }
    }
    .p4 {
      font-size: 2.4rem;
      opacity: 0.7;
      transform: translate(-200%, 15%);
      &:hover {
        transform: translate(-200%, 15%) scale(1.2);
      }
      animation: .5s p4;
      @keyframes p4 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(-200%, 15%);
        }
      }
    }
    .p5 {
      font-size: 2.2rem;
      opacity: 0.6;
      transform: translate(-125%, 135%);
      &:hover {
        transform: translate(-125%, 135%) scale(1.2);
      }
      animation: .5s p5;
      @keyframes p5 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(-125%, 135%);
        }
      }
    }
    .p6 {
      font-size: 2rem;
      opacity: 0.5;
      transform: translate(95%, -105%);
      &:hover {
        transform: translate(95%, -105%) scale(1.2);
      }
      animation: .5s p6;
      @keyframes p6 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(95%, -105%);
        }
      }
    }
    .p7 {
      font-size: 1.8rem;
      opacity: 0.4;
      transform: translate(-20%, -230%);
      &:hover {
        transform: translate(-20%, -230%) scale(1.2);
      }
      animation: .5s p7;
      @keyframes p7 {
        from {
          transform: translate(0);
        }
        to {
          transform: translate(-20%, -230%);
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .above-average-returns {
    .left {
      width: 100%;
      margin-right: 0;
      p {
        max-width: 100%;
      }
    }
    .right {
      display: none;
    }
  }
}
