.higher-performance {
  .left {
    .cta {
      margin-top: 25px;
      display: flex;
      button {
        margin-right: 10px;
      }
    }
  }
  .right {
    img {
      width: 500px;
      transform: translateY(100%);
    }
    .slide-up-mockup-img {
      animation: 0.75s slideUpMockupImg;
      transform: translateY(50%);
    }
    @keyframes slideUpMockupImg {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(50%);
      }
    }
  }
}

@media (max-width: 1100px) {
  .higher-performance {
    .right {
      img {
        width: 300px;
        bottom: 50%;
      }
    }
  }
}

@media (max-width: 680px) {
  .higher-performance {
    .left {
      width: 100%;
      margin-left: 0;
    }
    .right {
      display: none;
    }
  }
}
