.informational-advantage {
  .right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .bar-chart {
      display: flex;
      align-items: flex-end;
      height: calc(100% - 45px);
      position: absolute;
      bottom: 0;
      right: 0;
      div {
        width: 60px;
        margin: 0 10px;
        background-color: $primary-color;
        position: relative;
        transition: transform .5s;
        &:hover {
          transform: scale(1.05);
        }
        p {
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(#fff, 0.75);
          font-weight: 100;
          height: 45px;
          margin: 0;
        }
        .plan-name {
          display: flex;
          justify-content: center;
          width: 60px;
          position: absolute;
          top: -35px;
          background: none;
        }
      }
      .basic-bar {
        height: 84%
      }
      .premium-bar {
        height: 90%
      }
      .business-bar {
        height: 95%
      }
      .fund-bar {
        height: 87%
      }
      .sp-bar {
        background-color: $dark-color;
        height: 60%;
      }
    }
  }
}

@media (max-width: 850px) {
  .informational-advantage {
    padding-bottom: 0;
    .content {
      flex-direction: column;
      .left {
        width: 100%;
        margin-right: 0;
        p {
          max-width: 100%;
        }
      }
      .right {
        margin: 50px auto 0 auto;
        height: 250px;
        // width: auto;
        width: 100%;
        .bar-chart {
          height: 100%;
          left: 0;
        }
      }
    }
  }
}
