.one-dollar {
  .left {
    .plans {
      button {
        background: none;
        color: $text-color;
        &:hover {
          color: $primary-color;
          div {
            height: 2px;
            width: 100%;
            margin-top: 5px;
            background: $primary-color;
          }
        }
      }
      .selected {
        color: $primary-color;
        div {
          height: 2px;
          width: 100%;
          margin-top: 5px;
          background: $primary-color;
        }
      }
    }
    .bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 300px;
      height: 50px;
      transition: transform .3s;
      p {
        margin: 0 10px 0 0;
        color: #fff;
        font-size: 1.5rem;
      }
      &:hover {
        transform: scale(1.05);
      }
    }

    .fs.bar {
      background: $primary-color;
    }
    .plan-name {
      margin-top: 10px;
    }
    .fs.plan-name {
      color: $primary-color;
    }
    .market-bar-container {
      margin-top: 25px;
      display: flex;
      align-items: center;
      .market.bar {
        background: $dark-color;
      }
      p {
        margin: 0 0 0 10px;
        font-size: 1.5rem;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
