.reach-your-goals {
  padding: 50px 0;
  box-sizing: content-box;
  .left {
    img {
      max-height: 250px;
      bottom: -160%;
    }
    .slide-up-reach-goal-img {
      animation: 0.75s slideUpReachGoalImg;
      bottom: -50px;
    }
    @keyframes slideUpReachGoalImg {
      from {
        bottom: -160%;
      }
      to {
        bottom: -50px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    p {
      width: 400px;
      align-self: flex-end;
    }
    .title {
      width: 400px;
      align-self: flex-end;
    }
  }
}


@media (max-width: 925px) {
  .reach-your-goals {
    .left {
      img {
        width: 300px;
      }
    }
  }
}

@media (max-width: 780px) {
  .reach-your-goals {
    .left {
      display: none;
    }
    .right {
      width: 100%;
      margin-left: 0;
      .title, p {
        align-self: flex-start;
      }
    }
  }
}
