.admin-panel {
  .visitor-map {
    width: calc(100% - 40px);
    margin: 20px auto;
    height: 500px;
    background: #fff;
    padding: 20px 0;
    .map {
      min-height: 300px;
      background: red;
    }
  }
}

a[href="http://www.amcharts.com/javascript-maps/"] {
  display: none !important;
}
