.admin-panel {
  .unqiue-visiotrs {
    background: #fff;
    margin: 20px auto;
    h2 {
      padding: 20px;
    }
    width: calc(100% - 40px);
    .visitor-map {
      height: 500px;
      padding: 20px 0;
      .map {
        min-height: 300px;
        background: red;
      }
    }
  }
}

a[href="http://www.amcharts.com/javascript-maps/"] {
  display: none !important;
}
