.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - 40px);
  p {
    margin: 0;
    margin-top: 15px;
  }
  i {
    font-size: 0.75rem;
    margin: 0 5px;
  }
}
