.dashboard {
  background: $dashboard-background;
  height: 100vh;
  width: 100vw;
  .container {
    height: calc(100% - 75px);
    display: flex;
    .content {
      overflow-y: scroll;
    }
  }
}
