//
// @mixin vertical-align {
//     position: relative;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%);
//     transform: translateY(-50%);
// }

.my-account-page {
  padding: 40px;
  .profile-info {
    padding: 20px;
    margin-bottom: 40px;
    i {
      margin-right: 10px;
    }
  }
  .change-plan-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    background: #fff;
    h2 {
      padding: 40px 20px;
      margin: 0;
      border-bottom: 1px solid $db-border-color;
    }
    button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 90px;
      position: relative;
      h3 {
        margin: 0;
        float: left;
      }
      h3:first-child {
        // @include vertical-align;
      }
      h3:last-child {
        float: right;
      }
      &:hover {
        background: lighten($primary-color, 5%);
        h3,p {
          color: #fff;
        }
      }
    }
    .selected {
      h3,p {
        color: #fff;
      }
    }
    .current {
      background: #fff;
      h3,p {
        color: $light-text-color;
      }
      .price {
        display: none;
      }
      &::after {
        content: 'Current';
        color: $light-text-color;
        float: right;
      }
      &:hover {
        background: #fff;
        cursor: auto;
        h3,p {
          color: $light-text-color;
        }
      }
    }
    .change-plan {
      max-width: 100%;
      height: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      span {
        margin-left: 5px;
      }
      &:hover {
        background: darken($action-color, 5%);
      }
    }
  }
  .cancel-btn {
    margin-top: 100px;
    background: $warning-color;
    max-width: 100%;
    &:hover {
      background: darken($warning-color, 5%);
    }
  }
}

.change-plan-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  h2 {
    /* padding: 20px;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 90px;
  }
  p {
    margin: 20px 20px;
    i {
      margin-right: 10px;
    }
  }
  button {
    height: 90px;
    max-width: 100%;
  }
}
