.new-article {
  .dropzone {
    display: flex;
    width: calc(100% - 40px);
    margin: 20px auto;
    border: 2px dashed $primary-color;
    justify-content: center;
    padding: 40px;
    &:hover {
      cursor: pointer;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        color: $primary-color;
        font-size: 4rem;
      }
    }
  }
  .image-preview {
    height: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: height .3s;
  }
  .editor {
    background: #fff;
    width: calc(100% - 40px);

    margin: 40px auto;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 40px 60px;
    position: relative;
    .article-title {
      width: 100%;
      border: none;
      padding: 20px 20px 20px 10px;
      font-size: 2rem;
      color: $text-color;
    }
    .submit-article {
      width: 100%;
      max-width: 100%;
      margin-top: 50px;
    }
    .controls {
      display: flex;

      .RichEditor-controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-family: 'Helvetica', sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
        padding: 20px;
        .RichEditor-styleButton {
          display: flex;
          flex: 1;
          color: $light-text-color;
          cursor: pointer;
          margin-right: 16px;
          padding: 2px 0;
          // display: inline-block;
          &:hover {
            color: $text-color;
          }
        }
        .h1::before, .h2::before {
          content: '\f1dc';
          font-family: 'FontAwesome';
        }
        .block-quote::before {
          content: '\f10d';
          font-family: 'FontAwesome';
        }
        .UL::before {
          content: '\f0ca';
          font-family: 'FontAwesome';
        }
        .OL::before {
          content: '\f0cb';
          font-family: 'FontAwesome';
        }
        .bold-text::before {
          content: '\f032';
          font-family: 'FontAwesome';
        }
        .italic-text::before {
          content: '\f033';
          font-family: 'FontAwesome';
        }
        .underline-text::before {
          content: '\f0cd';
          font-family: 'FontAwesome';
        }
        .RichEditor-activeButton {
          color: $primary-color;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    .RichEditor-editor {
      border-top: 1px solid #ddd;
      cursor: text;
      font-size: 16px;
      margin-top: 10px;
      margin: 0 -15px -15px;
      padding: 20px;
      min-height: 350px;
      .DraftEditor-root {
        position: relative;
      }
      .public-DraftEditorPlaceholder-root {
        margin: 0 -15px -15px;
        padding-left: 20px;
        color: #9197a3;
        position: absolute;
        z-index: 0;
      }
      .RichEditor-blockquote {
        border-left: 5px solid #eee;
        color: #666;
        font-family: 'Hoefler Text', 'Georgia', serif;
        font-style: italic;
        margin: 16px 0;
        padding: 10px 20px;
      }
    }
  }
}
