.notification {
  background: $action-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // width: 100%;
  height: 75px;
  p {
    font-weight: 100;
    margin: 0;
    color: #fff;
    padding-left: 20px;
  }
  .dismiss {
    background: none;
    // position: absolute;
    // right: 0;
  }
}
.notification.error {
  background: $warning-color;
}
