.portfolio {
  flex: 1;
}

.portfolio-yields {
  background: #fff;
  margin: 40px auto;
  width: calc(100% - 80px);
  display: flex;
  .left {
    h2 {
      padding-left: 40px;
    }
    width: 80%;
    #portfolio-chart {
      height: 350px;
    }
  }
  .right {
    width: 20%;
    border-left: 2px solid $db-border-color;
    padding-left: 20px;
    .stats {
      h3 {
        margin-bottom: 10px;
        font-weight: 400;
      }
      .wrapper {
        display: flex;
        align-items: center;
        p {
          margin: 0;
          font-weight: 100;
        }
        i {
          color: $action-color;
          margin-right: 5px;
        }
      }
    }
    .fs.stats {
      .wrapper {
        i {
          color: $primary-color;
        }
      }
    }
  }

}


.holdings {
  background: #fff;
  // border: 1px solid $side-color;
  width: calc(100% - 80px);
  margin: 40px auto;
  // border-radius: 3px;
  .top {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $side-color;
  }
}

.portfolio-table {
  border-collapse: collapse;
  width: 100%;
  .labels {
    tr {
      width: 100%;
      border-bottom: 1px solid $db-border-color;
      th {
        margin: 0;
        padding: 20px 0;
        padding-right: 25px;
        padding-left: 20px;
        text-align: left;
        font-weight: 100;
      }
    }
  }
  tbody {
    tr {
      height: 75px;
      border-bottom: 1px solid $db-border-color;
      td {
        font-weight: 400;
        padding-left: 20px;
      }
      .stock-name {
        display: flex;
        align-items: center;
        i {
          color: $primary-color;
          font-size: 2rem;
          margin-right: 20px;
        }
        p {
          font-weight: 400;
        }
        .ticker {
          font-weight: 100;
          padding-left: 20px;
          position: relative;
        }
        .ticker::before {
          content: '';
          height: 10px;
          width: 10px;
          position: absolute;
          left: 0;
          border: 2px solid $primary-color;
          border-radius: 50%;
        }
      }
      .positive {
        color: $action-color;
        &:before {
          content: '+'
        }
      }
      .negative {
        color: $warning-color;
      }
    }
  }
  .cash {
    tr {
      height: 75px;
      td {

      }
      .stock-name {
        display: flex;
        align-items: center;
        height: 75px;
        i {
          font-size: 2rem;
          color: $action-color;
          margin-right: 15px;
        }
      }
    }
    padding-bottom: 20px;
  }
}
