.side-bar {
  background: $side-bar-background;
  width: 300px;
  height: 100%;
}
.side-bar-links {
  .side-bar-link {
    border-bottom: 2px solid $side-border-color;

    display: flex;
    flex-direction: column;
    button {
      width: 100%;
      height: 75px;
      background: none;
      justify-content: space-between;
      display: flex;
      h3 {
        padding-left: 40px;
        color: $side-color;
        margin: 0;
        i {
          position: absolute;
          left: 20px;
        }
      }
      i {
        color: $side-color;
      }

    }
    .dropdown {
      display: flex;
      flex-direction: column;
      // padding-left: 40px;
      a {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        padding-left: 60px;
        color: $light-text-color;
        &:hover {
          background: darken($side-bar-background, 5%);
        }
      }
    }
    &:hover {
      button {
        height: 75px;
        h3 {
          color: $primary-color;
          i {
            color: $primary-color;
          }
        }
      }
    }
  }
  .selected {
    height: calc(50px * 4 + 75px);
    background: darken($side-bar-background, 3%);
    button {
      h3 {
        color: $primary-color;
        i {
          color: $primary-color;
        }
      }
    }
    .dropdown {
      a:hover {
        color: $primary-color;
      }
    }

  }
  .logout:hover {
    button {
      h3 {
        color: $warning-color;
        i {
          color: $warning-color;
        }
      }
    }
  }
}
