.side-bar {
  background: $side-bar-background;
  width: 300px;
  transition: width 0.3s;
}
.side-bar-links {
  .side-bar-link {
    border-bottom: 1px solid $side-border-color;

    display: flex;
    flex-direction: column;
    button::before {
      padding-left: 40px;
      float: left;
      color: $side-color;
      font-size: 1rem;
      margin: 0;
      font-weight: 100;
    }
    button {
      width: 100%;
      height: 75px;
      background: none;
      justify-content: space-between;
      display: flex;
      position: relative;
      h3 {
        padding-left: 40px;
        color: $side-color;
        font-size: 1rem;
        margin: 0;
        i {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      i {
        color: $side-color;
      }

    }
    .dropdown {
      display: flex;
      flex-direction: column;
      a {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        padding-left: 60px;
        color: $light-text-color;
        font-size: 0.9rem;
        &:hover {
          background: darken($side-bar-background, 5%);
        }
      }
      .selected {
        color: $primary-color;
        background: darken($side-bar-background, 5%);
      }
    }
    .plan-dd.dropdown {
      animation: .3s expandVertPlans;
    }
    @keyframes expandVertPlans {
      from { height: 0; }
      to { height: calc(4 * 50px); }
    }
    .admin-dd.dropdown {
      animation: .3s expandVertAdmin;
    }
    @keyframes expandVertAdmin {
      from { height: 0; }
      to { height: calc(3 * 50px); }
    }
    &:hover {
      button {
        height: 75px;
        h3, i {
          color: $primary-color;
        }
      }
    }
  }
  .selected {
    background: darken($side-bar-background, 3%);
    button {
      h3, i {
        color: $primary-color;
      }
    }
  }
  .logout:hover {
    button {
      h3 {
        color: $warning-color;
        i {
          color: $warning-color;
        }
      }
    }
  }
}

.suggestions-btn::before { content: 'Suggestions'; }
.portfolios-btn::before { content: 'Portfolios'; }
.articles-btn::before { content: 'Articles'; }
.my-account-btn::before { content: 'My Account'; }
.admin-btn::before { content: 'Admin'; }
.logout-btn::before { content: 'Log out'; }

@media (max-width: 800px) {
  .side-bar {
    background: $side-bar-background;
    width: 75px;
  }
  .side-bar-links {
    .side-bar-link {
      justify-content: center;
      position: relative;
      button {
        h3 {
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .fa-angle-down {
          display: none;
        }
      }
      .dropdown {
        position: absolute;
        background: darken($side-bar-background, 3%);
        left: 75px;
        top: 0;
        z-index: 10;
        width: 180px;
        a {
          padding: 20px;
          height: 75px;
        }
      }
      .plan-dd.dropdown {
        animation: .3s expandVertPlansMobile;
      }
      @keyframes expandVertPlansMobile {
        from { height: 0; }
        to { height: calc(4 * 75px); }
      }
      .admin-dd.dropdown {
        animation: .3s expandVertAdminMobile;
      }
      @keyframes expandVertAdminMobile {
        from { height: 0; }
        to { height: calc(3 * 75px); }
      }
    }
  }
  .suggestions-btn::before { content: ''; }
  .portfolios-btn::before { content: ''; }
  .articles-btn::before { content: ''; }
  .my-account-btn::before { content: ''; }
  .admin-btn::before { content: ''; }
  .logout-btn::before { content: ''; }
}
