.suggestions {

}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
  li {
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    .top {
      h3:first-child {
        padding-left: 20px;
      }
      .action {
        color: $primary-color;
        padding-right: 20px;
      }
      .sell {
        color: #fff;
      }
      display: flex;
      justify-content: space-between;
    }
    .fetching-data {
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // i, p {
      //   color: $primary-color;
      // }
    }
    #suggestion-chart {
      height: 300px;
      width: 100%;
    }
    .bottom {
      display: flex;
      padding: 10px 10px;
      li {
        width: calc(100% / 4);
        p,h4 {
          margin: 0;
          color: #777;
          font-weight: 100;
        }
        .value {
          margin-bottom: 5px;
          color: #323232;
          font-weight: 400;
        }
      }
      .sell {
        h4 {
          color: #fff;
        }
        p {
          color: $db-border-color;
        }
      }
    }
    .more-info.sell {
      display: none;
    }
  }
}


.suggestion-balloon {
  display: flex;
  .ticker {
    margin-right: 10px;
    padding-left: 20px;
    position: relative;
    font-weight: 100;
  }
  .ticker::before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
  p {
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.advanced-data-modal {
  overflow-y: scroll;
  max-height: 80%;
  .advanced-data-list {
    margin-top: 20px;
    li {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin: 0;
      padding: 0 20px;
      // border-top: 1px solid $light-text-color;
    }
    li:nth-child(even) {
      background: $dashboard-background;
    }
  }
}


@media (max-width: 1200px) {
  .suggestions-list {
    li {
      width: calc(100% - 20px);
    }
  }
}
