.suggestions {

}

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  li {
    width: calc(50% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
    .top {
      h3:first-child {
        padding-left: 20px;
      }
      .action {
        color: $primary-color;
        padding-right: 20px;
      }
      .sell {
        color: #fff;
      }
      display: flex;
      justify-content: space-between;
    }
    #suggestion-chart {
      height: 300px;
      width: 100%;
    }
    .bottom {
      display: flex;
      li {
        width: calc(100% / 4);
        p,h4 {
          margin: 0;
          color: #777;
          font-weight: 100;
        }
        .value {
          margin-bottom: 5px;
          color: #323232;
          font-weight: 400;
        }
      }
      .sell {
        h4 {
          color: #fff;
        }
        p {
          color: $db-border-color;
        }
      }
    }
  }
}


.suggestion-balloon {
  display: flex;
  .ticker {
    margin-right: 10px;
    padding-left: 20px;
    position: relative;
    font-weight: 100;
  }
  .ticker::before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 0;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
  p {
    font-size: 0.8rem;
    font-weight: 700;
  }
}


@media (max-width: 1100px) {
  .suggestions-list {
    li {
      width: calc(100% - 40px);
    }
  }
}
