@import "../../Containers/variables.css";

footer {
  .disclaimer-container {
    background: lighten($dark-background, 5%);
    background: #373E4C;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .disclaimer {
      width: 100%;
      max-width: 1160px;
      color: #fff;
      margin: 0;
    }
    .agreement {
      text-align: center;
      margin-top: 10px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    padding: 20px 0;
    background: $dark-background;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .headquarters {
      margin-right: 32px;
      margin-left: 32px;
      height: 100%;
      width: auto;
    }
    .contact-info {
      margin-right: 32px;
    }
    p {
      color: $light-text-color;
      margin: 8px 0;
    }
  }
}

.close-btn {
  i {
    color: $text-color;
    font-size: 2.5rem;
  }
}

@media (max-width: 580px) {
  .copyright {
    flex-direction: column;
    .contact-info {
      margin-left: 32px;
    }
    p {
      text-align: center;
    }
  }
}
