@import "../../variables.css";

.retail {
  header {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
    .hero {
      overflow: hidden;
      align-items: flex-start;
      height: 560px;
      .content {
        margin-top: 120px;
      }
      .mockup {
        max-width: 600px;
        width: calc(100% - 128px);
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.hero {
  width: 100%;
  height: 480px;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .content {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 60%;
    text-align: center;
    max-width: 835px;
    h1,h2 {
      color: #fff;
      font-size: 2em;
    }
    .bold {
      font-weight: bold;
    }
    #subtitle {
      color: #fff;
      font-size: 2em;
    }
    .typed-cursor{
        opacity: 1;
        color: #fff;
        font-size: 2em;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    .learn-more {
      background: #fff;
      border-radius: 4px;
      font-weight: normal;
      margin-top: 64px;
      color: $primary-color;
      padding: 16px 32px;
    }
    .hero-disclaimer {
      margin-top: 20px;
      line-height: normal;
    }
  }
  .bottom {
    height: 75px;
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $primary-color;
      font-size: 2rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .background-numbers-container {
    position: absolute;
    top: 75px;
    left: 0;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: calc(480px);
    width: 100%;
    overflow: hidden;
    .price {
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      transform: translate3d(-14.2451px, 2.39659px, 0px);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: transform 0.2s;
      .value {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-weight: 100;
        p {
          color: #fff;
        }
        i {
          color: #fff;
          margin-left: 4px;
          font-size: 2rem;
        }
      }
    }
    .x-small {
      font-size: 18px;
      line-height: 18px;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }
    .small {
      font-size: 24px;
      line-height: 24px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .medium {
      font-size: 26px;
      line-height: 26px;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .large {
      font-size: 32px;
      line-height: 32px;
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
    }
    .right {
      text-align: right;
    }
  }
}

.typed-cursor{
    opacity: 1;
    color: #fff;
    font-size: 1.5rem;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 1000px) {
  .background-numbers-container {
    #r3, #r2, #l4, #l3 {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .retail {
    header {
      .hero {
        .content {
          width: 100%;
          max-width: calc(100% - 64px);
          margin-top: 140px;
        }
      }
    }
  }
  .background-numbers-container {
    #r6, #l1 {
      display: none;
    }
    #r4 {
      top: 40% !important;
    }
  }
}
