.professional, .retail {
  .bottom-cta {
    background: #fff !important;
    h1 {
      margin-bottom: 0;
      text-align: center;
    }
    h3 {
      text-align: center;
    }
    .to-pricing {
      border-radius: 4px;
      margin-top: 24px;
      margin-bottom: 16px;
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
    .not-convinced {
      background: none;
      color: $primary-color;
      text-decoration: underline;
    }
  }

}
