.prof-navbar {
  padding: 15px;
  width: calc(100% - 24px);
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(255,255,255,0.98);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 0 12px;
  box-sizing: border-box;
  .left {
    img {
      height: 30px;
      width: auto;
    }
  }
  .right {
    display: flex;
    align-items: center;
    a {
      margin-left: 16px;
      height: 100%;
      &:hover {
        color: $primary-color;
      }
    }
    #signup-btn {
      background: $primary-color;
      border: 1px solid $primary-color;
      padding: 8px 12px;
      border-radius: 4px;
      color: #fff;
      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }
}

.professional {
  .static {
    position: absolute;
  }
  .fixed {
    position: fixed;
    animation-duration: 1s;
    animation-name: slidedown;
    .pricing {
      border: 1px solid $primary-color;
      color: $primary-color;
      padding: 8px 12px;
      border-radius: 4px;
      font-weight: bold;
      &:hover {
        color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
      }
    }
  }
}

@keyframes slidedown {
  from {
    top: -65px;
  }
  to {
    top: 0;
  }
}
