.prof-pricing {
  .prof-plans {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 24px 0;
    .prof-plan {
      background: #fff;
      .top {
        padding: 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #E4E4E4;
        border-bottom: none;
        border-bottom: 2px solid #eee;
        border-bottom-color: $primary-color;
        h3 {
          text-transform: capitalize;
          font-weight: bold;
          margin: 0;
          margin-bottom: 4px;
        }
        p {
          margin-bottom: 0;
        }
      }
      li {
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 8px;
        p {
          margin: 0 !important;
        }
        .right-align {
          text-align: right;
          margin-left: 16px !important;
          flex-grow: 1;
        }
      }
      .statistics {
        padding: 16px 24px 8px;
        border: 1px solid #E4E4E4;
        border-top: none;
        border-bottom: none;
        box-sizing: border-box;
        p {
          margin-bottom: 10px;
        }
      }
      border-radius: 4px;
      margin: 0 32px;
      .cta {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 24px;
        height: auto;
        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
    .basic {
      .top {
        border-bottom-color: $action-color;
      }
      .cta {
        background: $action-color;
        &:hover {
          background: darken($action-color, 5%);
        }
      }
    }
  }
  .not-convinced {
    margin-top: 16px;
  }
  .disclaimer {
    margin-top: 0px;
    text-align: center;
  }
  .learn-more {
    &:hover {
      background: darken($primary-color, 10%);
    }
  }
}

.info-circle {
  margin-left: 8px;
  color: #6A7885;
  position: relative;
  &:hover {
    .explanation {
      opacity: 1;
      display: block;
      width: 340px;
      height: auto;
      padding: 24px;
      h3, p {
        display: block;
      }
    }
  }
  .explanation {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    bottom: 28px;
    left: -20px;
    background: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 4px 18px;
    transition: opacity 200ms;
    box-sizing: border-box;
    z-index: 3000;
    h3 {
      display: none;
      color: $primary-color;
      margin: 0;
      margin-bottom: 8px;
    }
    p {
      display: none;
      margin: 0;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 18px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #fff;
    }
  }
}

@media (max-width: 1200px) {
  .professional, .retail {
    .prof-pricing {
      .prof-plans {
        .prof-plan {
          margin-bottom: 32px;
        }
      }
    }
  }
}
