.professional {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px 40px 80px;
    margin: 0;
    background: #fff;
    .title {
      font-weight: bold;
      max-width: 1160px;
    }
    .subtitle {
      text-align: center;
      max-width: 1160px;
    }
    .divider {
      margin-bottom: 32px;
    }
    p {
      margin-top: 0;
      font-size: 1rem;
      line-height: 1.5;
      max-width: 1160px;
    }
    a {
      background: $primary-color;
      color: #fff;
      height: 48px;
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 4px;
      padding: 0 32px;
    }
    .disclaimer {
      font-size: 0.9rem;
    }
    .beside {
      width: 100%;
      max-width: 1160px;
      display: flex;
      justify-content: space-between;
      > div {
        max-width: calc(50% - 64px);
      }
      > div:first-child {
        margin-right: 32px;
      }
      > div:last-child {
        margin-left: 32px;
      }
    }
    .columns {
      display: flex;
      > div:first-child {
        margin-right: 32px;
      }
      .columns-2 {
        width: 100%;
        max-width: calc(1160px / 3 * 2);
      }
      .columns-1 {
        width: 100%;
        max-width: calc(1160px / 3);
      }
    }
  }
  section:nth-child(even) {
    background: #f4f4f4;
  }
}


.infoBox {
  background: rgba(119, 119, 119, 0.05);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 16px 24px;
  box-sizing: border-box;
  max-width: 1160px;
  margin-bottom: 24px;
  .question {
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
}

.quote {}
