.what-we-offer {
  a {
    margin-top: 16px;
    max-width: 150px;
  }
  .right {
    display: flex;
    align-items: center;
    .screen {
      height: auto;
      width: 100%;
      transition: transform 0.5s;
      box-shadow: 0 0px 4px rgba(0,0,0, 0.2), 0 4px 8px rgba(0,0,0, 0.24);
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
