.introduction {
  .intro-text {
    margin-top: 16px;
  }
  h2 {
    margin-top: 0;
  }
  p {
    margin-top: 0;
  }

  .beside {
    position: relative;
    display: flex;
    flex-direction: column;

  }
  .left {
    margin-right: 200px;
  }
  .graph-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 32px;
  }
}

@media (max-width: 1100px) {
  .introduction {
    .left:nth-child(3) {
      margin-right: 0;
    }
  }
}

@media (max-width: 815px) {
  .introduction {
    .left:nth-child(2) {
      margin-right: 0;
    }
  }
}

@media (max-width: 700px) {
  .introduction {
    .left {
      margin-right: 0;
    }
    .graph-container {
      position: relative;
      margin: 0;
      margin-top: 16px;
    }
  }
}
