@import "../../variables.css";

.small-stock:first-child {
  margin-top: 16px;
}

.small-stock {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 8px 16px 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  .top {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
  }
  .bottom {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #eee;
    #suggestion-chart {
      height: 300px;
    }
    .fetching-data {
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      i {
        margin-bottom: 8px;
      }
    }
    .failed {
      color: $warning-color;
    }
    .advanced-data-list {
      li {
        display: flex;
        justify-content: space-between;
        padding: 12px 32px;
        .data-value { font-weight: 600; }
      }
      li:nth-child(odd) {
        background: #eee;
      }
    }
  }
  h3,h4,p {
    margin: 0;
  }
  .action {
    margin-right: 32px;
    color: $primary-color;
  }
  .sell { color: #fff }
  .vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 32px;
    h3 {
      margin-bottom: 8px;
    }
    h4 {
      font-weight: 600;
    }
  }
  .name {
    width: 100%;
    max-width: 360px;
  }
  .ticker {
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 3px solid $primary-color;
    }
  }
  .price {
    min-width: 100px;
    margin-right: 32px;
  }
  .realtime-positive {
    color: $text-color;
    animation-name: RTPOSITIVE;
    animation-duration: 25s;
    &::after {
      position: relative;
      content: '\f106';
      font-family: "FontAwesome";
      color: $action-color;
      font-size: 1.25rem;
      margin-left: 8px;
      opacity: 0;
      animation-name: OPACITY;
      animation-duration: 25s;
    }
  }
  .realtime-positive-alt {
    color: $text-color;
    animation-name: RTPOSITIVEALT;
    animation-duration: 25s;
    &::after {
      position: relative;
      content: '\f106';
      font-family: "FontAwesome";
      color: $action-color;
      font-size: 1.25rem;
      margin-left: 8px;
      opacity: 0;
      animation-name: OPACITYALT;
      animation-duration: 25s;
    }
  }
  .realtime-negative {
    color: $text-color;
    animation-name: RTNEGATIVE;
    animation-duration: 25s;
    &::after {
      position: relative;
      content: '\f107';
      font-family: "FontAwesome";
      color: $warning-color;
      font-size: 1.25rem;
      margin-left: 8px;
      opacity: 0;
      animation-name: OPACITY;
      animation-duration: 25s;
    }
  }
  .realtime-negative-alt {
    color: $text-color;
    animation-name: RTNEGATIVEALT;
    animation-duration: 25s;
    &::after {
      position: relative;
      content: '\f107';
      font-family: "FontAwesome";
      color: $warning-color;
      font-size: 1.25rem;
      margin-left: 8px;
      opacity: 0;
      animation-name: OPACITYALT;
      animation-duration: 25s;
    }
  }
  .more-info {
    align-self: flex-end;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: $primary-color;
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
}

.small-stock-sell {
  background: $primary-color;
  h3,h4,p {
    color: #fff;
  }
  .ticker {
    &::before {
      border-color: #fff;
    }
  }
}

@keyframes RTPOSITIVE {
  from { color: $action-color; }
  to { color: $text-color; }
}

@keyframes RTNEGATIVE {
  from {color: $warning-color; }
  to {color: $text-color; }
}
@keyframes RTPOSITIVEALT {
  from { color: $action-color; }
  to { color: $text-color; }
}

@keyframes RTNEGATIVEALT {
  from {color: $warning-color; }
  to {color: $text-color; }
}

@keyframes OPACITY {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes OPACITYALT {
  from { opacity: 1; }
  to { opacity: 0; }
}
