@import "../../../variables.css";
@import "./fontStyles.css";

.dashboard-sidebar {
  height: 100%;
  display: flex;
  .main-menu {
    height: 100%;
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #232730;
    border-right: 1px solid #2D333C;
    box-shadow: 2px 0 4px rgba(0,0,0,0.25);
    z-index: 10;
    position: relative;
    padding-left: 2px;
    .main-button {
      margin-top: 40px;
      width: 56px;
      height: 56px;
      padding: 12px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .icon {
        font-family: 'menufont';
        font-size: 30px;
        color: #747C8D;
      }
      h4 {
        min-width: 50px;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        margin: 0;
        margin-top: 8px;
        color: #747C8D;
      }
      &:hover {
        cursor: pointer;
        .icon {
          color: $primary-color;
        }
      }
    }
    .selected {
      background: $primary-color;
      box-shadow: 0 2px 4px rgba(0,0,0,0.25);
      position: relative;
      h4 {
        position: absolute;
        top: calc(16px + 38px);
        left: 50%;
        transform: translateX(-50%);
        display: block;
        color: $primary-color;
      }
      .icon {
        color: #fff;
      }
      &:hover {
        .icon {
          color: #fff;
        }
      }
    }
    .main-button:first-child {
      margin-top: 16px;
    }
    .main-button:nth-last-child(2) {
      &:hover {
        .icon {
          color: $warning-color;
        }
      }
    }
    .main-button:last-child {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.sub-menu {
  width: 190px;
  height: 100%;
  background: #20232A;
  padding-top: 39px;
  z-index: 1;
  .submenu-section {
    width: 100%;
    // margin-bottom: 32px;
    h3 {
      font-weight: 500;
      font-size: 1rem;
      color: #4d5360;
      padding-left: 24px;
      margin: 0px 0;
      margin-bottom: 8px;
    }
    a {
      font-weight: 300;
      text-decoration: none;
      display: block;
      box-sizing: border-box;
      padding: 16px 24px;
      color: #747C8D;
      width: 100%;
      &:hover {
        color: $primary-color;
        background: #1b1e24;
      }
    }
    .selected {
      background: #151619;
      color: $primary-color;
      &:hover {
        background: #151619;
      }
    }
    .submenu-divider {
      // display: none;
      flex: 1;
      height: 1px;
      background: #333843;
      margin: 16px 24px 32px 24px;
    }

  }
  .submenu-section:last-child {
    .submenu-divider {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .dashboard-sidebar {
    .main-menu {
      width: 210px;
      padding: 0 16px;
      .main-button {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-top: 32px;
        .icon {
          margin-right: 12px;
          font-size: 1.5rem;
        }
        h4 {
          display: block;
          margin-top: 0;
          font-size: 1rem;
          font-weight: 500;
        }
        &:hover {
          h4 {
            color: $primary-color;
          }
        }
      }
      .selected {
        width: auto;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        h4 {
          display: block;
          color: #fff;
          position: relative;
          top: 0;
          left: 0;
          transform: translateX(0);
        }
        &:hover {
          h4 {
            color: #fff;
          }
        }
      }
      .main-button:nth-last-child(2) {
        &:hover {
          h4 {
            color: $warning-color;
          }
        }
      }
      .main-button:last-child {
        padding-left: 32px;
      }
    }
  }
}

@media (max-height: 740px) {
  .dashboard-sidebar {
    .main-menu {
      overflow-y: auto;
      .main-button:last-child {
        display: none;
      }
    }
  }
}
